<% provide(:title, "Fragen beantworten") %>

<% @questions.each do |hit| %>
<% provide(:title, "Frage #{hit.id}") %>

<div>
  <%= render "questions/render_full", q: hit, show_question_id: true %>
  <br/><br/>
  <%=link_to "Diese Frage jetzt beantworten", "#{main_hitme_path}#hide-options#question=#{hit.id}" %>
</div>
<% end %>
