<noscript>
  <div class="box">
    <p class="alert alert-error">
    Du hast <b>JavaScript</b> in Deinem Browser <b>deaktiviert</b>. Dies ist aber notwendig, damit die Seite modern und schick erscheinen kann… und 2000er E-Learning Seiten willst Du wirklich nicht. Da in jedem normalen Browser JavaScript standardmäßig eingeschaltet ist, nehme ich an Du weißt an welchen Schrauben Du drehen musst.
    </p>
  </div>
</noscript>
