<div>
  <h2>Hilfe und Nutzungsanleitung</h2>
  <ul>
    <li><a href="#hitme">Abfragemodus: Allgemein</a></li>
    <li><a href="#opts">Abfragemodus: Optionen</a></li>
    <li><a href="#answ">Abfragemodus: Fragen / Antworten</a></li>
    <li><a href="#acc">Account, Einloggen und Passwort</a></li>
    <li><a href="#enroll">Einschreibeschlüssel</a></li>
    <li><a href="#stats">Statistik</a></li>
    <li><a href="#starred">Gemerkte Fragen</a></li>
    <li><a href="#contact">Kontakt / Anderes Problem</a></li>
    <li><a href="#license">Lizenz</a></li>
  </ul>
</div>

<div id="hitme">
  <h2>Abfragemodus: Allgemein</h2>
  Nachdem Du einige Einstellungen getätigt hast, bekommst Du nacheinander Fragen vorgelegt. Erst wenn Du diese beantwortet – oder sie übersprungen – hast, wird die nächste Frage angezeigt. Aufgelöst wird erst, wenn Du Deinen aktuellen Block abgearbeitet hast. Am Ende wird Dir angezeigt, wie viele Fragen Du richtig und wie viele falsch hattest. Scrolle dann nach oben, um zu sehen welche und wie die korrekte Lösung wäre. Richtig beantwortete Fragen sind leicht grünlich hinterlegt; falsch beantwortete rot. Außerdem ist vermerkt, welche Antwort Du ausgewählt hattest und welche Antworten richtig bzw. falsch sind.
</div>

<div id="opts">
  <h2>Abfragemodus: Optionen</h2>

  <p><b>Anzahl:</b> Wähle aus, wie viele Fragen Du gestellt bekommen möchtest. Die Werte dürfen zwischen 5 und 100 liegen.</p>

  <p><b>Studiengang:</b> Zeigt Dir ggf. zusätzliche Fragen an, die nur für Deinen Studiengang relevant sind. Wenn Du hier nichts auswählst, bekommst Du also nur Fragen, die jeder beantworten können sollte.</p>

  <p><b>Nachfragen:</b> Abhängig von Deinen Antworten können Dir weitere Fragen gestellt werden. Welche genau das sind, lässt sich nicht allgemein beschreiben. Beispielsweise kann ein Thema vertieft werden, wenn Deine Antwort richtig war. Ebenso ist es möglich, dass eine Frage in kleinere Zwischenfragen aufgespalten wird, wenn Deine Antwort falsch war. Wenn Du das Häkchen entfernst gibt es keine Nachfragen, sondern alle Fragen kommen direkt aus der Kategorie die Du am Anfang gewählt hast.</p>

  <p><b>Fragentypen:</b> Du kannst hier beliebig kombinieren, aber mindestens ein Typ muss ausgewählt sein. </p>

  <p><b>Kategorienwahl:</b> Wähle hier das Thema, über das Du Dich befragen lassen möchtest. Es ist möglich, dass es durch die Wahl Deiner Optionen keine Fragen in einer Kategorie gibt – etwa wenn Du nur leichte Fragen in der Kategorie „Jahrhundertprobleme“ möchtest. In diesem Fall wird ein Hinweis eingeblendet und Du kannst die Einstellungen nochmal anpassen. Sofern Fragen gefunden werden, ist Deine Kategorie und Optionenwahl jedoch fest eingestellt. Beantworte zuerst den Block fertig, um sie wieder zu ändern. Du kannst natürlich auch einfach die Seite neuladen und alles neu einstellen, wenn Du möchtest.</p>
</div>

<div id="answ">
  <h2>Abfragemodus: Fragen / Antworten</h2>
  <p>Es gibt zwei Fragentypen: bei einem sind die Antworten vorgegeben und Du kannst sie durch Klick auf einen Button auswählen. Beim anderen musst Du die Lösung errechnen und in ein Textfeld eintragen. Wenn es sich um einen einfachen Wert, etwa „37“, handelt, kannst Du diesen ohne weiteres eingeben – verwende aber keine Tausender-Trennzeichen. Gib Dezimalzahlen mit einem Komma an.</p>

  <p>Möchtest Du eine <b>Matrix in das Textfeld eintragen</b>, musst Du etwas mehr aufpassen. Die einzelnen Einträge der Matrix werden durch Leerzeichen von einander getrennt. Eine neue Zeile im Textfeld entspricht einer neuen Zeile in der Matrix. Die Anzahl der Leerzeichen, die Du zum Trennen verwendest, ist egal. D.h. folgende Darstellungen sind gleichbedeutend:</p>
<pre>1 2 3                1   2   3
37 42 13,5          37  42  13,5</pre>

  <p>Das System ist ziemlich dumm. Wenn die Lösung zum Beispiel „37“ ist, Du aber „37,0“ eingibst, wird Dir das System die Lösung als falsch anzeigen.</p>
</div>

<div id="acc">
  <h2>Account, Einloggen und Passwort</h2>

  <p><b>Wozu ein Account?</b> Ein Account hat mehrere Vorteile. Erstens werden Deine Antworten aufgezeichnet und Dir mit höherer Wahrscheinlichkeit Fragen vorgelegt, die Du noch nicht oder häufiger falsch beantwortet hattest. Zweitens hast Du die Möglichkeit einen Vorlesungsschlüssel einzugeben. Dieser ordnet Dich einer Veranstaltung zu, so dass Deine Antworten anonym mit in die Statistik eingehen. Dadurch können Problembereiche aufgedeckt werden und ggf. nochmal angesprochen werden. Drittens musst Du Deinen Studiengang nicht immer von Hand auswählen.</p>

  <p><b>Wie funktioniert die Anmeldung?</b> Wähle einen Nutzernamen und ein Passwort. Alle anderen Angaben sind optional. Bis auf den Nutzernamen können alle Angaben später noch geändert werden. Solltest Du Dein Passwort vergessen und keine E-Mail Adresse hinterlegt haben, ist Dein Account unwiederbringlich verloren.<br/>Dein Passwort wird sicher gespeichert (mittels <a href="https://de.wikipedia.org/wiki/Bcrypt"> Bcrypt</a>) und kann von niemanden eingesehen werden. Deine E-Mail Adresse wird nur zur Passwortwiederherstellung genutzt und kann auf der Webseite auch nur von Dir eingesehen werden.</p>

  <p><b>Was soll ich tun, wenn ich mich nicht einloggen kann?</b> Stelle sicher, dass Dein Browser Cookies akzeptiert. Wenn Du weiterhin Probleme hast, siehe <a href="#contact">Kontakt</a>.</p>

  <p><b>Wo kann ich meine Daten ändern?</b> Klicke dazu im Hauptmenü auf „Profil“ und scrolle nach unten.</p>
</div>

<div id="enroll">
  <h2>Vorlesungsschlüssel</h2>
  <p>Den Schlüssel bekommst Du in der Veranstaltung mitgeteilt. Wenn Du nicht da warst, frage am besten in Deiner Übungsgruppe nach. Um einen Schlüssel eintragen zu können, benötigst Du einen Account. Anschließend kannst Du in Deinem Profil den Schlüssel eingeben. Entfernen kannst Du ihn übrigens nicht mehr.</p>
</div>

<div id="stats">
  <h2>Statistik</h2>
  <p>Die Statistik in Deinem Profil zeigt Dir an, wie viele Fragen Du in den letzten 30 Tagen jeweils richtig beantwortet oder übersprungen hast. Der Graph geht sogar weiter zurück, nämlich die letzten 91 Tage. Es werden dabei jeweils die letzten 7 Tage zusammengefasst. Die Prozentwerte ergeben sich aus Richtig/(Falsch+Richtig) bzw. Übersprungen/(Falsch+Richtig+Übersprungen).</p>
</div>

<div id="starred">
  <h2>Gemerkte Fragen</h2>

  <p>Du hast die Möglichkeit Dir Fragen zu merken, wenn Du sie Dir später nochmal ansehen möchtest. Klicke dazu bei einer Frage oben rechts auf „Frage merken“. Wenn es geklappt hat, ändert sich der Link zu „Frage gemerkt“ und es wird ein Sternchen daneben angezeigt. Du kannst diese Frage jetzt im Hauptmenü unter „gemerkte Fragen“ einsehen.
  Um eine gemerkte Frage zu entfernen, klicke einfach auf den „gemerkte Frage“ Link. Das funktioniert sowohl im Abfrage-Modus, als auch in der Übersicht der gemerkten Fragen. Auf der gemerkten Fragen Übersicht ist es nicht möglich eine Frage zu beantworten. 
  </p>
</div>

<div id="contact">
  <h2>Kontakt / Anderes Problem</h2>

  <p>Wenn Du <b>inhaltliche</b> Anliegen hast, wende Dich bitte an Deine Tutorin bzw. Deinen Tutor. Inhaltliche Anliegen sind z.B.  „Warum ist diese Lösung richtig?“, „Wo lese ich nach…?“, aber auch „Ich glaube, da ist ein Fehler...“.</p>

  <p>Wenn du Fehlerhinweise, Verbesserungsvorschläge oder Kritik hast, freuen wir uns über eine Mail an <a href="mailto:keks@uni-hd.de"><b>keks@uni-hd.de</b></a>. Alternativ kannst du auch das Feedback-Formular verwenden. Dies gilt auch, wenn du Hilfe bei der Bedienung benötigst oder ein technisches Problem hast. Wenn es sich um ein technisches Problem handelt und Du versiert genug bist, kannst Du auch <a href="https://github.com/breunigs/keks/issues">direkt einen Bugreport aufmachen</a>.</p>
  
   <p>Wenn Du sonstige Fragen in deinem Studium hast, kannst Du Dich auch an <a href="http://mathphys.fsk.uni-heidelberg.de/">die Fachschaft</a> wenden.</p>
</div>

<div id="license">
  <h2>Lizenz</h2>
  KeKs ist OpenSource und ist unter der <a href="https://raw.github.com/breunigs/keks/master/LICENSE">freien ISC-Lizenz</a> verfügbar. Der <a href="https://github.com/breunigs/keks">Quelltext</a> kann auf GitHub eingesehen und heruntergeladen werden. Details zur verwendeten Software und deren Lizenzen findet sich  <a href="https://raw.github.com/breunigs/keks/master/ATTRIBUTION">in der ATTRIBUTION Datei</a>.
</div>
