<% provide(:title, "Startseite") %>

<div>
  
  <h2>Deine Optionen</h2>

  <ul class="chooser">
    <li>
      <%= link_to "Gleich loslegen", main_hitme_path(:anchor => "hide-options"), :class => "button big" %>
      Für ganz Eilige. Nur Fragengebiet wählen und los geht’s. Kein Login notwendig.
    </li>

    <% if signed_in? %>
    <li>
      <%= link_to "Ausloggen", signout_path, :class => "button big", method: :delete %>
    </li>
    <% else %>
    <li>
      <p class="left">
        <%= link_to "Einloggen", signin_path, :class => "button big", :style => "margin-bottom: 5px;"%><br/>
        <%= link_to "Neuer Account", signup_path, :class => "button big" %>
      </p>
      <p class="right">
        Wenn Du Dir einen Account erstellst, kann aufgezeichnet werden welche Fragen Du wie beantwortet hast und Dir diese dann entsprechend seltener vorlegen. Wenn Du außerdem einen Einschreibeschlüssel einträgst, gehen Deine Antworten mit in die Statistik ein, durch die generelle Probleme nochmal angesprochen werden können.
      </p>
    </li>
    <% end %>

  </ul>
</div>
