<table style="margin-top: 0; border-spacing:0; border-collapse:collapse;">
  <tr>
    <td>Mathe (klein) im <span class="alert-error">Fließtext</span>:</td>
    <td><tt><span class="alert-error">§</span>$ e^{i\phi} $<span class="alert-error">§</span></tt></td>
  </tr>
  <tr>
    <td>Mathe (<span style="color: #0063A5">groß</span>) auf <span class="alert-success">eigener Zeile</span>:</td>
    <td><tt><span class="alert-success">§§</span>$<span style="color: #0063A5">\displaystyle</span> \sum^a_b $<span class="alert-success">§§</span></tt></td>
  </tr>
  <tr style="font-size: smaller">
    <td>Mathe (klein) auf <span class="alert-success">eigener Zeile</span>:</td>
    <td><tt><span class="alert-success">§§</span>$\sum^a_b $<span class="alert-success">§§</span></tt></td>
  </tr>
  <tr style="font-size: smaller">
    <td>Mathe (<span style="color: #0063A5">groß</span>) im <span class="alert-error">Fließtext</span>:</td>
    <td><tt><span class="alert-error">§</span>$<span style="color: #0063A5">\displaystyle</span> \sum^a_b $<span class="alert-error">§</span></tt></td>
  </tr>
</table>
