<table style="margin-top: 0; border-spacing:0; border-collapse:collapse;">
  <tr>
    <td>Mathe (klein) im Fließtext:</td>
    <td><tt><span class="alert-error">\(</span>e^{i\phi}<span class="alert-error">\)</span></tt></td>
  </tr>
  <tr>
    <td>Mathe (groß) auf eigener Zeile:</td>
    <td><tt><span class="alert-error">\[</span>\sum^a_b<span class="alert-error">\]</span></tt></td>
  </tr>
  <tr style="font-size: smaller">
    <td>Kursiv (braucht Matheumgebung):</td>
    <td><tt>\(<span class="alert-error">\emph{</span>yay \frac{kur}{siv}<span class="alert-error">}</span>\)</tt></td>
  </tr>
</table>
