<ul class="button-group">
  <li><%= link_to "Kategorienliste", categories_path, class: 'button primary' %></li>
  <li><%= link_to "Fragenliste", questions_path, class: 'button primary' %></li>
  <li><%= link_to "Neue Kategorie", new_category_path, class: 'button' %></li>
  <li><%= link_to "Neue Frage", new_question_path, class: 'button' %></li>
</ul>
