<% provide(:title, "Admin Übersicht") %>

<div>
  <%= render "action_menu" %>
  <h2>Statistiken</h2>
</div>

<div>
  <h2>Dateneingabe</h2>
  <em>Nur für Sabrina und Rebecca Esz.</em>
  <p>
    <b>Wie funktioniert das?</b><br/>

    Eine Kategorie hat viele Fragen. Eine Frage hat viele Antworten. Eine Antwort verweist auf Kategorien und/oder Fragen. Im Umkehrschluss hat jede Frage <em>genau ein</em> Eltern-Element, nämlich Kategorie ⊕ Antwort. Fehlt dieses Eltern-Element wird die Frage nicht berücksichtigt. Kategorien gehören entweder zu einer Antwort oder haben kein Eltern-Element. Dann sind sie eine Wurzel und werden dem Nutzer am Anfang zur Auswahl angeboten.
  </p>

  <p>
    <b>Vorgehensweise</b><br/>
überleg ich mir noch
  </p>

  <%= render "action_menu" %>
</div>
