<% provide(:title, 'Neuen Account anlegen') %>

<div>
  <h2>Neuen Account anlegen</h2>

  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :nick %>
    <%= f.text_field :nick %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :mail %>
    <%= f.text_field :mail %>
    <span>Optional, wird nur benötigt falls Du Dein Passwort vergessen hast.</span>

    <%= f.label :study_path %>
    <%= f.select :study_path, StudyPath.to_select %>
    <span>Optional, gibt Dir passende Fragen für Deinen Studiengang.</span>

    <%= f.submit "Account anlegen", class: "button primary big" %>
  <% end %>
</div>
