/*
 *= require jquery-tablesorter/theme.dropbox
 *= require simple-slider
 *= require jquery.uix.multiselect
 *= require table-sorter
 *= require magnific-popup
 *= require popups
 *= require loading
 *= require pagination
 *= require submenu
 *= require search
 */
