.answer-chooser {
  display: table;
  border-spacing: 10px;
  margin-left:-10px;

  > div {
    display: table-row;

    > a, > span {
      display: table-cell;
    }

    > span {
      visibility: hidden;
    }
  }

  &.noHide {
    span {
      visibility: visible !important;
    }
  }
}

.displayHidden {
  display: none;
}

.initiallyHidden {
  visibility: hidden;
}

.matrixmode {
  float: left;
  min-width: 0;
  width: 260px;
  height: 120px;
}

.previewer {
  float: left;
  margin-left: 15px;
}


.xkcd {
  margin: 10px 0;
}

.answer-submit > span {
  display: inline-block;
  line-height:33px;
  vertical-align: top;
  margin-left: 10px;
}
