.answer-chooser {
  display: table;
  border-spacing: 10px;

  > div {
    display: table-row;

    a, span {
      display: table-cell;
    }

    span {
      visibility: hidden;
    }
  }
}

.initiallyHidden {
  visibility: hidden;
}
