.answer-chooser {
  display: table;
  border-spacing: 10px;
  margin-left:-10px;

  > div {
    display: table-row;

    a, span {
      display: table-cell;
    }

    span {
      visibility: hidden;
    }
  }

  &.noHide {
    span {
      visibility: visible !important;
    }
  }
}

.initiallyHidden {
  visibility: hidden;
}

.matrixmode {
  float: none !important;
  min-width: 0;
  width: 260px;
  height: 180px;
}
