// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark: #0063A5;
$light: #0090D2;
$error: #E42020;
$success: #37A359;

@mixin break-after {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  text-rendering: optimizelegibility;
  margin: 0;
}

body > div, div.box {
  margin: 20px 40px;
  border: 1px solid #888;
  box-shadow: 0 0 10px rgba(40, 40, 40, 0.4);
  background: #fff;
  padding: 20px;

  & + h2 {
    margin-top: 0;
  }
}

header {
  background: $dark;
}

header + div {
  margin-top: 0;
  border-top: 0;
}

h1 {
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 45px;
  text-shadow: 1px 1px 1px #000;
  margin: 0px;
  padding: 10px 60px;
}

nav {
  padding: 5px 15px;
  margin: 0 40px;
  background: $light;
  box-shadow: 0 0 10px rgba(40, 40, 40, 0.4);
  border: 1px solid #004A6B;
  border-bottom: 0;

  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #fff;
  text-shadow: 1px 1px rgba(55, 55, 55, 0.7);
  font-size: 23px;


  a, span {
    color: inherit;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
  }

  > span {
    font-weight: normal;
  }

  > span, > a {
    float: right;
  }

  ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }
}

a {
  text-decoration: none;
  color: #0090D2;

  &:hover {
    text-decoration: underline;
  }

  + a {
    margin-left: 10px;
  }
}

h2 {
  margin: 10px 0;
}

.chooser {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin: 5px 0;
  }

  a.button {
    width: 120px;
    margin-right: 5px;
  }
}

p {
  &.left {
    display: table-cell;
    padding-right: 5px;
  }

  &.right {
    display: table-cell;
    margin: 0;
  }
}

form {
  clear: both;
  @include break-after;
  line-height: 30px;
}

label {
  width: 100px;
  font-weight: bold;
  float: left;
  clear: left;
}

.field_with_errors label {
  color: $error;
}

input + span, select + span, textarea + span,  .field_with_errors + span {
  float: left;
  display: block;
  margin-left: 8px;
  color: #777;
  line-height: 23px;
}

input, textarea {
  @include border-box;
  float: left;
  display: block;
  min-width: 320px;
  padding: 4px;
  margin: 4px 0;
  border: 1px solid #aaa;
  background: #fff;
  color: #000;

  &:focus {
    border-color: $dark !important;
    box-shadow: 0 0 2px $light;
  }

  &[type=submit] {
    clear: both;
    margin: 8px 0;
    min-width: 0;
  }
}

.field_with_errors input {
  border-color: #B01E1E;
}

textarea {
  min-width: 600px;
  height: 150px;
}

select {
  @include border-box;
  float: left;
  min-width: 320px;
  margin: 4px 0;
  padding-left: 4px;
  padding-top: 3px;
  border: 1px solid #aaa;
  background: #fff;

  &:focus {
    border-color: $dark !important;
    box-shadow: 0 0 2px $light;
  }

  option {
    background: #fff;
    color: #000;
    line-height: 30px;
    padding-bottom: 4px;
    padding-left: 4px;
  }
}

.error {
  ul {
    margin-top: 0;
    padding-left: 16px;
  }
}


.flash {
  ul {
    margin: 0;
  }
}

.alert-error {
  color: $error;
}

.alert-success {
  color: $success;
}

table {
  margin-top: 20px;
}

th {
  text-align: left;
}

img {
  vertical-align: middle;
}

img.latex-block {
  display: block;
  margin: 5px 0;
}

.tex {
  line-height: 19px;

  img {
    vertical-align: text-bottom;
  }
}

.clear, #preview, #preview > div {
  clear: both;
}

#preview {
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  margin-left: 100px;
}
