<ul class="button-group">
  <li><%= link_to "Übersicht", reviews_path, class: 'button primary' %></li>
  <li><%= link_to "nicht-okay-e Fragen", not_okay_questions_path, class: 'button' %></li>
  <li><%= link_to "Fragen ohne Reviews", no_reviews_questions_path, class: 'button' %></li>
</ul>
