<div class="box submenu">
  <ul>
    <li>Reviews:</li>
    <li><%= link_to "Mitteilungen", reviews_path, class: 'primary' %></li>
    <li><%= link_to "Fragen die Deine Aufmerksamkeit benötigen", need_attention_questions_path, class: 'primary' %></li>
    <li><%= link_to "Meine Reviews", user_reviews_path(current_user), class: '' %></li>
  </ul>

  <ul>
    <li>Filtern:</li>
    <% Review.get_filters.each do |f| %>
      <% next if Review.filter(f)[:hide_in_menu] %>
      <li><%= link_to Review.filter(f)[:link_title], review_filter_path(f) %></li>
    <% end %>
  </ul>
</div>
