<div>
  <%= render "menu"  %><br/><br/>

  <h3><%=REVIEW_MIN_REQUIRED_REVIEWS%>+ okay, 0 nicht-okay</h3>
  <p>Hier werden alle „freischaltbaren“ Fragen aufgelistet. D.h. solche, die <b>noch nicht freigeschalten</b> sind aber genug – und ausschließlich – positive Reviews haben. </p>

  <%= render "generic_question_list", questions: @questions %>
</div>
