<div>
  <%= render "menu"  %><br/><br/>

  <h3>nicht-okay-e Fragen</h3>
  <p>Diese Fragen wurden von mindestens einer Person als nicht-okay markiert.</p>

  <%= render "generic_question_list", questions: @questions %>
</div>
